language: java
dist: trusty

jdk:
- openjdk8

env:
  global:
  - secure: "tKG0n1lPU2aFMMH7MwX9V6RS2F1q+d9tU1cOLXxjAaFOG+rhM6A8mQA5G1Ji+ZtHeX4ZgFmXvdRGzjHSQbEzo9lLzFJAbHznZYWYCE3kghpA59Ud3wKFsBbxHeSybwwz8ZDn/o8+ycMLew4/6GREjUra+usy/EU6HDtO6VQyZT3m6NHS5sA4gspoCLlMEOzM/0PPLIAGeJ8m7OA+u9U3AHZPIVeqIdnVZWqBX6DqZJA2yPmpdHoKi76ceMopvdOsdraSPMjit3a7qVcx3ihdBLcFeNjPaHasyhwA//zCj61SaUk6LQbbfaj3XilIJR4DgW5DiDX0lO0p4ByhybD7tp87QZmv9kxJMJ/455Zns94F+XjaDc+N01NVM17O3Z+jUeruooZSDI89SFnaWuQeWywd1vkX7+KQ/AvnEP8+U6dAMvJ/VaG7yS0rJlCB6MksYb6mK20M6kawPY3GuDlccrBYmeb2dxRdDMQTOwMgdz7pzsSSfWr7KLxLdNF5UKWSq8cTAN/dRbN214a1JXXMjKFgUfXZVYEf9HHS3CpDfo1BiCIRhV/15CdprwtPD9kqqEmeqb/vlZid4eH2VHYDXpkWwtAf9/hvv4HWn0Z2Ljb06w4tyVf3TKr9TYi/5RsKT1vs+dNQutfXUfWBTMMhCA8gvlQUHCOmYuwDLmvsGzk="
  - secure: "c29Xl/LZtAJ9AGAaCz/DcBsY9FMXib50UYuNIFMWPhZcRstbEDoLKDy0w5euN4PKt2CPnnGHDpf+/DvzY2RY8a4/TC0KQkX6QZ+xg76LY6CU2MHOVOcvcpgDwdCVTQ+lKBLgsjePi9F0c+YZDe9XPybxJtlNTYDXObE0wdeUMBPB8breUoDflHu2ZXD8ToE+q9p2EdtZqtu5YGAotCEYkp2WdkvhG+Oq/I0up6xQffw/Zu3CNR1HAmvu40kjODgnLin5MJ/9xUYFy1AsQBNaWh2CJAcPN5jq6E4nXyaX8eNWW4JtQCmzbSqeQ26CNPGwM3hfCmkXOT/ImoJ3caJAlJF7Pf0FFnB0THySoUO/mfXw6SveAFEXHmMlYgp18Wbf8LFHN8Nhl8dVwxG+yBmZuHwV5btgFB0SSV90VbqRpZVeO2+o3r0oJFBVP993JZ/4QLcU0MfofmHwrsUrGdfQhLlvYxSY5qS+R9k02YgsRb3tZRio8lKE5YidJLdqZJ6gEX22WkXvwS6gClBixCdSsLGo8+FjrjmGMnq3ygmzU1dVOyBjFFbWMt6ghHC1MY1BJVYbbmP15bDdc1RzHVaABoeQQ5VphJBo2uAJguqxQnSNsk16cgu+HoqxUe+e77CyNLFv2SQKOGr+EAHHbFePfVnB3BxIrYLiYkPyBW1v4zM="
  - secure: "aIvVoOP/1WHCu1yvSwAckINOCCab7NMRwW3LRmmGKZkke1yFCwbwXBsgPu3Q5DkrP1pDiA8+Yd9vSwDLUqxS/QSbJB513mfKyHcYfDuEHWg8ML2veQUqWQrsE6dcNWmEUNeOSU+IGStyCzuuzscIMTIO/KU0p3g/iUM5bZoR4VG2FVJ6vOR5JFT03IfmJQKBiEyoLh7H3djGExEgxUvkvOC0Tq8FSryFEncjsT9DvYyo3KQ4UCE3UgHnOwejoEPYE/dEmeNHJcHzHwMgDmUQEcjneAZQtyEUzia5ygdlHP6OBfCWvi4OptkxWJgPORG2HcH8QFrbZsdqfCgYr6t6VvgNQrQchSF08uBGyeRgHXvOQQH29VWolS+ZNe5rS369I9FWjMxKbTjTBbh5sh4SDLq3GzBTNMzXzEwqNQn0u1g1GzFyQ+Tp2KNB1YMelGoJ/LG9QkFIhp5CcHD37RM3q3TWUlWzh1edC7chPvQgsrs0AfzmVNJkPfwOcxeNEof9MKZep7fcRE41UiObIT9IwmzNkBZVkAujyMgj2R8+JDb3FLWbXWXMzmj+hVl2kUh/cNLDDWFw9Jg6ahaFfwbOrygaEhffnnL0lWZgoryZmcBAvFCCr0xXtIiA4VZRVPkmFdAn8zqQFIJGqUBRDfMfSYVYBw3zZk6vesUBeB+7Bp0="

cache:
  directories:
  - "$HOME/.m2"

install: mvn clean install -DskipTests=true -V -U
script: mvn test

after_success:
# Deploy to OSSHR
- if [[ $TRAVIS_PULL_REQUEST == "false" && ($TRAVIS_BRANCH == "master" || $TRAVIS_TAG) ]]; then
    openssl aes-256-cbc -K $encrypted_90602d13f15b_key -iv $encrypted_90602d13f15b_iv -in gpg.tar.gz.enc -out gpg.tar.gz -d;
    tar xvf gpg.tar.gz;
    mvn source:jar javadoc:jar deploy -Pdeploy -DskipTests=true --settings ./settings.xml;
  fi